.tag {
  width: 50px;
  height: 24px;
  border-radius: 12px;
  background: linear-gradient(97.02deg, #272A2A 0%, #141414 100%);
  border: 1px solid var(--color-grey-24);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

@media screen and (max-width: 800px) {
  .tag{
    margin: 0px
  }
}