.button {
    position: relative;
    top: 20px;
    left: 600px;
    padding: 0 15px 1px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--color-grey-50);
}

.button:hover {
    background-color: var(--color-blue-175);
}


.defaultState {
    background-color: var(--color-blue-100);
}

.magentaState {
    background-color: var(--color-magenta);
}

/* 
button {
    color: ${foreground.inverse};
    background-color: ${foreground.accent};
  }

  button::after {
    border: 1px solid ${overlay.thin};
  }

  button:hover::after {
    background-color: ${overlay.thin};
  }

  .w3m-button-loading:disabled {
    background-color: ${background.accent};
  }

  button:disabled {
    background-color: ${background[3]};
    color: ${foreground[3]};
  } */