.buttonContainer {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.button {
  margin: 2em 0 0 0;
  padding: 0 15px 1px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--color-grey-50);
}

.button:hover {
    background-color: var(--color-blue-175);
}


.defaultState {
    background-color: var(--color-blue-100);
}

.magentaState {
    background-color: var(--color-magenta);
}

.greenState {
    background-color: var(--color-green);
}