.container {
  background: #171717;
  padding: 3em 0 25px 1em;
  height: 100vh;
  overflow-y: scroll;
}

.navContainer {
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.navContainer::before {
  content: '';
  position: absolute;
  height: 50px;
  background: linear-gradient(transparent, #171717);
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.li {
  list-style-type: none;
  margin-top: 0px;
}

.active {
  color: var(--color-blue-100);
  margin-left: -56px;
  padding: 4px 16px 4px 16px;
  border-left: 1px solid var(--color-blue-100);
}

.nonActive {
  margin-left: -56px;
  padding: 4px 16px 4px 16px;
  border-left: 1px solid grey;
}

@media (max-width: 800px) {
  .container {
    display: none;
  }
}
