.container {
  /* 20vw of table of contents */
  width: calc(100% - 20vw);
  padding: 4em 2em 0 2em;
}

.container a {
  color: var(--color-blue-100);
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}
