.container {
    width: 75%;
    padding: 5em 5em 0 5em;
}

.container a {
    color: var(--color-blue-100);
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        padding: 20px;
    }
}