.whiteChevron {
    position: relative;
    left: -4px;
    top: -2px;
    /* margin-left: -3px; */
}

.blackChevron {
    position: relative;
    left: -4px;
    top: -2px;
    /* margin-left: -3px; */
}

.blackChevron path {
    fill: var(--color-grey-0)
}

.buttonContent {
    display: flex;
    padding: 2em 0 4em 0;
}

.introTextContainer {
    padding: 2em 0;
    /* border: 1px solid red; */
}

@media (max-width: 800px) {
    .buttonContent {
        padding: 2em 0 0 0;
    }
    .introTextContainer {
        padding: 0 1em 0 1em;
    }
}