.walletTextContainer {
    padding: 2em 2em 0 2em;
}

.noHeadingMargin {
    margin: 0
}

.bottomTextButtonContainer {
    padding: 0 2em 0 2em;
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    width: 100%;
}

.poweredByWC {
    width: 80%;
    padding: 10px 0;
}

@media (max-width: 800px) {
    .poweredByWC  {
      margin-bottom: 1em;
    }
  }