.sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebarContainer {
    display: flex;
    flex-direction: row;
    flex:1;
}

.sidebarContainerTwo{
    padding: 0 2rem 0 2rem;
    min-height: 90vh;
    background-color: rgba(0, 0, 0, 0.3);
    display:flex;
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
}

.mainContainer {
    flex: 1 
}

.docsHeading {
    margin: 0 0 10px 0;
    /* margin-bottom: 5px; */
    padding: 0 1em;
}



.sideBarRoutesSelected {
    /* list-style-type: none; */
    height: 40px;
    background-color: var(--color-blue-100);
    border-color: var(--color-blue-150);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    cursor: pointer;
}

.sideBarRoutesSelected:hover {
    background-color: var(--color-blue-125);
    border-color: var(--color-blue-150);
}

.sideBarRoutesSelected:disabled {
    opacity: 0.7;
    pointer-events: none;
}
  
.sideBarRoutesSelected:disabled span {
opacity: 0 !important;
}

.sideBarRoutesSelected img {
margin-top: -1px;
transition: transform 0.2s ease-in-out;
}


.sideBarRoutesSelected:focus-visible {
box-shadow: 0 0 2px 2px var(--color-blue-100);
}

.sideBarRoutesSelected:disabled span {
opacity: 0.5;
}


.sideBarRoute {
    list-style-type: none;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border-radius: 20px;
    cursor: pointer;

}

.sideBarRoute:hover {
    background-color: var(--color-grey-16);
}

.sideBarRoute:disabled {
    opacity: 0.7;
    pointer-events: none;
}

.sideBarRoute img {
    margin-top: -1px;
    transition: transform 0.2s ease-in-out;
}
  
.sideBarRoute:disabled span {
    opacity: 0 !important;
}

.sideBarRoute img {
    margin-top: -1px;
    transition: transform 0.2s ease-in-out;
}


.sideBarRoute:focus-visible {
    box-shadow: 0 0 2px 2px var(--color-grey-16);
}

.sideBarRoute:disabled span {
    opacity: 0.5;
}

.closedChevron {
    transform: rotate(90deg);
}

.openChevron {
    transform: rotate(180eg);
}

@media (max-width: 800px) {
    .sidebarContainerTwo {
      display: none;
    }
    .sideBarRoutesSelected {
        width: 90vw;
        flex: 1;
    }
    .sideBarRoute {
        width: 80vw;
        flex: 1;
    }
  }