.greenCard {
    background: var(--color-green-bg);
    width: 100%;
    height: 260px;
    border-radius: 44px;
    border: 1px solid var(--color-green-fg);
    margin-top: 40px;
    display: flex;
}

.interfaceCard {
    position: relative;
    top: -30px;
    left: 2px;
}

.textContainer {
    padding: 2em 2em 1.5em 2em;    
}

@media (min-width:375px) and (max-width:500px) {
    .greenCard {
        height: 220px;
        border-radius: 32px;
        margin-top: 20px;
    }

    .interfaceCard {
        border-radius: 32px;
        /* position: relative; */
        /* left: -10px;
        top: -50px; */
        /* margin-top: 10px; */
        /* top: -1px; */
    }

    .interfaceCard img {
        position: relative;
        /* width: 120%;
        height: 100%; */
        top: -30px;
        left: 2px;
    }

    .textContainer {
        padding: 1.5em 1em 2.5em 1em;     
    }

    .accountButtonCard {
        position: relative;
        left: 60px;
        top: -15px;
    }

    .greenCard {
        border-radius: 32px;
    }
}


