.purpleCard {
    background: #794CFF;
    width: 100%;
    height: 260px;
    border-radius: 44px;
    border: 1px solid #987DE8;
}

.interfaceCard {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
}

.interfaceImage {
    width: 100%;
    height: 263px;
    object-fit: contain;
    object-position: 50% 50%;
}

.textContainer {
    padding: 2em 2em 1.5em 2em;    
    margin-bottom: 3em;
}

@media (max-width: 800px) {
    .purpleCard{
        height: 180px;
        border-radius: 32px;
    }
    .textContainer {
        padding: 1.5em 1em 1.5em 1em;     
    }
    .interfaceCard {
        width: 107%;
        height: 230px;
        flex: none;
        object-position: 50% 50%;
        margin-top: -2em;
        position: relative;
        left: -0.5em;
        
    }
    .interfaceImage {
        object-fit: contain;
    }
  }

