.purpleCard {
    background: #794CFF;
    width: 100%;
    height: 220px;
    border-radius: 44px;
    border: 1px solid #987DE8;
    margin-top: 50px;
}

.interfaceCard {
    width: 90%;
    position: relative;
    left: 20px;
    top: -40px;
}

.textContainer {
    padding: 2em 2em 1.5em 2em;    
}

@media (max-width: 800px) {
    .purpleCard{
        margin-top: 40px;
        height: 250px;
        border-radius: 32px;
    }
    .textContainer {
        padding: 1.5em 1em 1.5em 1em;     
    }
    .interfaceCard {
        /* width: 371px; */
        width: 105%;
        position: relative;
        left: -9px;
        top: -50px;
    }
  }