.videoWrapper {
    position: relative;
}

.videoWrapper video {
    width: 1000px;
    height: 562px;
    border: 1px solid grey
}

@media (max-width: 800px) {
  .videoWrapper video {
    position: relative;
    overflow: visible;
    /* width: 550px; */
    height: 600px;
    object-fit: cover;
    /* object-fit: fill; */
  }
}