.rpcContainer{
    padding: 2em 2em 1.5em 2em;    
}

.imageContainer {
    position: relative;
    top: 6px;
    width: 100%;
    height: 260px;
}

@media (max-width: 800px) {
    .rpcContainer {
        padding: 1.5em 1em 1.5em 1em;     
    }
    .imageContainer {
        height: 220px;
        object-fit: contain;
    }
  }