.rpcContainer{
    padding: 2em 2em 1.5em 2em;    
}

.imageContainer {
    position: relative;
    top: 15px;
}

@media (max-width: 800px) {
    .rpcContainer {
        padding: 1.5em 1em 1.5em 1em;     
    }
    .imageContainer {
        margin-top: -10px;
        top: 15px;
    }
  }